<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dropininc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.dropininc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.android.dropin.permission.C2D_MESSAGE" />
    <permission
        android:name="in.wptrafficanalyzer.locationroutedirectionmapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name="com.dropininc.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <!--<meta-data-->
        <!--android:name="com.onesignal.NotificationOpened.DEFAULT"-->
        <!--android:value="DISABLE" />-->

        <!-- Register Receiver -->
        <!--<receiver-->
        <!--android:name="GcmBroadcastReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

        <!--<category android:name="com.dropininc.services" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver-->
        <!--android:name="GcmBroadcastReceiver"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.onesignal.BackgroundBroadcast.RECEIVE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name="com.dropininc.location.LocationAlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name="com.dropininc.services.ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- End Register Receiver -->

        <!-- Register Service -->
        <!--<service android:name="com.dropininc.services.GcmIntentService" />-->
        <service
            android:name="com.dropininc.services.LocationService"
            android:enabled="true" />
        <!-- End Register Service -->

        <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="DISABLE" />

        <activity
            android:name="com.dropininc.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="dropin" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dropininc.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.dropininc.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dropininc.activity.VerifyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dropininc.activity.SignupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dropininc.activity.TutorialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropininc.activity.ContactUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropininc.activity.SignupTutorialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBar" />
        <activity
            android:name="com.dropininc.activity.TermAndConditionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropininc.activity.ReferFriendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dropininc.activity.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropininc.activity.DroperatorStreamingActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dropininc.activity.ViewerStreamingActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.dropininc.image.CropImage" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="af6433d0ec4922be2071246b64209e49a7972f21" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_cjlOS8za46C9Il4TtGQbEdpdwrhwoYDP" />

        <activity
            android:name="com.dropininc.activity.DroperatorFlowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dropininc.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>
